<!-- Begin Header -->
<div class="header-wrapper" id="home">
    <!-- Begin Hero -->
    <section class="hero is-large">
      
      <!-- begin languages -->
      <div class="languages">
        <button class="button is-link is-small is-rounded" routerLink='/' >English</button>
        <button class="button is-info is-danger is-small is-rounded spanish" routerLink='/es'  >Español</button>
      </div>
      <!-- end languages -->
      
      <!-- Begin Hero Content-->
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="subtitle">Hey there, I'm</h1>
          <h2 class="title">Sergio Manrique</h2>
          <h1 class="subtitle profession">Multimedia Engineer/Web Developer</h1>
        </div>
      </div>
  
      <!-- End Hero Content-->
      <!-- Begin Hero Menu -->
      <div class="hero-foot ">
        <div class="hero-foot--wrapper">
          <div class="columns">
            <div class="column is-12 hero-menu-desktop has-text-centered">
              <ul>
                <li class="is-active">
                  <a href="/main/#home">Home</a>
                </li>
                <li>
                  <a href="/main/#about-me">About Me</a>
                </li>
                <li>
                  <a href="/main/#services">Services</a>
                </li>
                <li>
                  <a href="/main/#skills">Skills</a>
                </li>
                <li>
                  <a href="/main/#my-work">My Work</a>
                </li>
                <li>
                  <a href="/main/#contact">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  
      <!-- End Hero Menu -->
    </section>
    <!-- End Hero -->
  </div>
  <!-- End Header -->
  
  
  <!---------------------------------------------------------------------------------------->
  
  <!-- Begin Main Content -->
  <div class="main-content">
  
    <!-- Begin About Me Section -->
    <div class="section-light about-me" id="about-me">
      <div class="container">
  
        <div class="column is-12 about-me">
          <h1 class="title has-text-centered section-title">About Me</h1>
        </div>
  
        <div class="columns is-multiline">
          <div class="column is-6 has-vertically-aligned-content" data-aos="fade-right">
            <p class="is-larger">
              &emsp;&emsp;<strong>Interested in companies and / or projects that carry out web development
                under the 'Front end' and 'Backend' paradigms. I have knowledge in a working
                environment with web design, content and development engines, 3D animation / modeling,
                visual and related audio production and recording. With a willingness to learn and gain
                experience in the fields that allow me to grow professionally and improve the foundation
                of my profession, I am close to completing my university studies in Multimedia Engineering
                at the University of San Buenaventura Cali.</strong>
            </p>
            <br />
            <p>
              Web development using the Angular framework for the
              frontend, the Express framework (node.js) for the backend and the Ionic framework for mobile devices as well
              as Xcode. Database management with MySQL, SQLDeveloper,PostgreSQL . Extensive experience in the
              development of videogames with the Unity game engine and management of programming languages: Javascript,
              PHP, Java, Python, SQL, Typescript, Swift.
  
  
            </p>
            <br />
            <p>
              Advanced management in content manager programs such as wordpress, design programs such as Illustrator and
              photoshop, 3Dmax focused on
              3D animation and modeling of scenes and characters. Video postproduction in
              after effects, recording and audio production
              in Protools HD, social media management.
            </p>
            <br />
            <div class="is-divider"></div>
            <div class="columns about-links">
  
              <div class="column">
                <p class="heading">
                  <strong>Give me a ring</strong>
                </p>
                <p class="subheading">
                  +57 3136781315
                </p>
              </div>
  
              <div class="column">
                <p class="heading">
                  <strong>Email Me</strong>
                </p>
                <p class="subheading">
                  sergiman94@gmail.com
                </p>
              </div>
  
              <div class="column">
                <p class="heading">
                  <strong>View my portfolio</strong>
                </p>
                <p class="subheading">
                  example.com
                </p>
              </div>
  
            </div>
          </div>
          <div class="column is-6 right-image " data-aos="fade-left">
            <img class="is-rounded" src="https://picsum.photos/id/366/600/375" alt="" />
          </div>
        </div>
  
      </div>
    </div>
    <!-- End About Me Content -->
  
    <div class="section-dark resume">
      <div class="container">
        <div class="columns is-multiline" data-aos="fade-in" data-aos-easing="linear">
          <div class="column is-12 about-me">
            <h1 class="title has-text-centered section-title">
              View My Resume
            </h1>
          </div>
          <div class="column is-10 has-text-centered is-offset-1">
            <h2 class="subtitle">
              Clicking the button below so you can see my CV
            </h2>
            <form action="example.docs">
              <button class="button" type="button" (click)="downloadHV()">
                Download CV&emsp;<i class="fas fa-file-download "></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Begin Services Content -->
    <div class="section-color services" id="services">
      <div class="container">
  
        <div class="columns is-multiline">
          <div class="column is-12 about-me" data-aos="fade-in" data-aos-easing="linear">
            <h1 class="title has-text-centered section-title">Services</h1>
  
            <h2 class="subtitle">
              These are the services I offer for you based on my academic studies and work experience.
              These services are guaranteed and in each of them I have carried out or worked with
              projects in which I have had to develop and execute my skills
            </h2>
            <br />
          </div>
          <div class="columns is-12">
  
            <div class="column is-4 has-text-centered" data-aos="fade-in" data-aos-easing="linear">
              <i class="fas fa-laptop-code fa-3x"></i>
              <i class="fas fa-server fa-3x"></i>
              <i class="fas fa-database fa-3x"></i>
              <i class="fab fa-node fa-3x"></i>
              <hr />
              <h2>
                A back-end web developer is responsible for server-side web application
                logic and integration of the work front-end web developers do. Back-end
                developers usually write web services and APIs used by front-end developers
                and mobile application developers.
              </h2>
              <br />
              <h2>
                Indeed, the tools I use for back-end development are Express
                framework and Node.js. for DBMS I use PostgreSQL, MySQL and SQLDeveloper. if
                other frameworks are needed I'll use them.
  
              </h2>
            </div>
            <div class="column is-4 has-text-centered" data-aos="fade-in" data-aos-easing="linear">
              <i class="fas fa-paint-brush fa-3x"></i>
              <i class="fas fa-layer-group fa-3x"></i>
              <i class="fas fa-palette fa-3x"></i>
              <i class="fab fa-angular fa-3x"></i>
              <hr />
              <h2>
                Front-end web development, also known as client-side development
                is the practice of producing HTML, CSS and JavaScript for a website
                or Web Application so that a user can see and interact with them directly.
  
              </h2>
              <br />
              <h2>
                The objective of designing a site is to ensure that when the users open
                up the site they see the information in a format that is easy to read
                and relevant. This is further complicated by the fact that users now use
                a large variety of devices with varying screen sizes and resolutions
                thus forcing the designer to take into consideration these aspects when
                designing the site. They need to ensure that their site comes up correctly
                in different browsers (cross-browser), different operating systems (cross-platform) and different devices
                (cross-device), which requires careful planning on the side of the developer.
              </h2>
  
            </div>
            <div class="column is-4 has-text-centered" data-aos="fade-in" data-aos-easing="linear">
              <i class="fab fa-facebook-square fa-3x"></i>
              <i class="fab fa-instagram fa-3x"></i>
              <i class="fab fa-twitter fa-3x"></i>
              <i class="fab fa-wordpress fa-3x"></i>
              <hr />
              <h2>
                Social Media Managers oversee an organization's social media activities. 
                Typical duties listed on a regular resume sample for the job include scheduling updates, 
                sharing relevant content, engaging with fans and followers, answering to customer inquiries,
                and covering company events on social networks.
  
              </h2>
            </div>
          </div>
          <hr />
          <div class="columns is-12">
            <div class="column is-4 has-text-centered" data-aos="fade-in" data-aos-easing="linear">
              <i class="fas fa-camera-retro fa-3x"></i>
              <i class="fas fa-video fa-3x"></i>
              <i class="fas fa-music fa-3x"></i>
              <i class="fab fa-adobe fa-3x"></i>
              <hr />
              <h2>
                Audio-visual production specialists perform a variety of tasks and work with audio,
                video and lighting equipment, with the ultimate goal of producing professional video 
                presentations. These tasks include the arranging, connecting, tuning and operation of 
                video and lighting equipment. The function of these components and their interconnectivity 
                to computers is important to correctly running wires and cables, and creating a harmoniously 
                functioning audio-visual program.
              </h2>
              <br />
              <h2>
                Also, the creation and performance of postproduction is carried from the audio-visual production
                photography, create 3D models and 2D animations, design scenography and characters.
              </h2>
            </div>
            <div class="column is-4 has-text-centered" data-aos="fade-in" data-aos-easing="linear">
              <i class="fas fa-gamepad fa-3x"></i>
              <i class="fas fa-ghost fa-3x"></i>
              <i class="fas fa-dice-five fa-3x"></i>
              <i class="fab fa-unity fa-3x"></i>
              <hr />
              <h2>
                Independent video game development, or indie game development, is the video game development process
                of creating indie games; these are video games, commonly created by individual or small teams of video 
                game developers and usually without significant financial support of a video game publisher or other outside source.
              </h2>
              <br />
              <h2>
                As you can see above, I'm an indie game developer, that means I can design, create and develop games 
                with the Unity game engine. I've been on few projects but I'm with all disposition for any project you that you have
                in mind. 
              </h2>
            </div>
            <div class="column is-4 has-text-centered" data-aos="fade-in" data-aos-easing="linear">
              <i class="fas fa-mobile-alt fa-3x"></i>
              <i class="fab fa-android fa-3x"></i>
              <i class="fab fa-swift fa-3x"></i>
              <i class="fas fa-rocket fa-3x"></i>
              <hr />
              <h2>
                As other services I can offer you. I can assesorate you with creative ideas about web, audio, video, games and more.
                Also, if you want a full course or a tutorial about specific topics I can do videos or practical
                examples for you. My fields are extensive so I'm with all the disposition to learn and apply my knowledge for your needs.
              </h2>
            </div>
          </div>
        </div>
  
      </div>
    </div>
    <!-- End Services Content -->
  
  
  
    <!-- Begin Skills Content -->
    <div class="section-light skills" id="skills">
      <div class="container">
        <div class="columns is-multiline">
          <div class="column is-12 about-me">
            <h1 class="title has-text-centered section-title">Skills</h1>
          </div>
          <div class="column is-6" data-aos="fade-in" data-aos-easing="linear">
            <h1>Adobe Illustrator</h1>
            <progress class="progress" value="83" max="100"></progress>
            <h1>Adobe After Effects</h1>
            <progress class="progress" value="75" max="100">30%</progress>
            <h1>Adobe Photoshop</h1>
            <progress class="progress" value="80" max="100">45%</progress>
            <h1>3D Max / Blender</h1>
            <progress class="progress" value="80" max="100">60%</progress>
            <h1>Wordpress and Ecommerce</h1>
            <progress class="progress" value="90" max="100">60%</progress>
            <h1>Unity Engine</h1>
            <progress class="progress" value="90" max="100">60%</progress>
            <h1>Xcode / Swift / iOS Development</h1>
            <progress class="progress" value="95" max="100">60%</progress>
          </div>
          <div class="column is-6" data-aos="fade-in" data-aos-easing="linear">
            <h1>HTML</h1>
            <progress class="progress" value="98" max="100">30%</progress>
            <h1>CSS/SCSS</h1>
            <progress class="progress" value="98" max="100">30%</progress>
            <h1>Back-End Javascript / Typescript / PHP  </h1>
            <progress class="progress" value="98" max="100">45%</progress>
            <h1>SQL - DBMS</h1>
            <progress class="progress" value="98" max="100">60%</progress>
            <h1>Standalone Java / Python</h1>
            <progress class="progress" value="88" max="100">60%</progress>
            <h1>Front-End Angular / Bootstrap / Bulma / Ionic</h1>
            <progress class="progress" value="98" max="100">60%</progress>
            <h1>UI / UX  </h1>
            <progress class="progress" value="90" max="100">60%</progress>
          </div>
        </div>
      </div>
    </div>
    <!-- End Skills Content -->
  
    <!-- Begin Work Content -->
    <div class="section-dark my-work" id="my-work">
      <div class="container">
        <div class="columns is-multiline" data-aos="fade-in" data-aos-easing="linear">
  
          <div class="column is-12">
            <h1 class="title has-text-centered section-title">My Work</h1>
          </div>
          <div class="column is-3">
            <a href="https://www.youtube.com/playlist?list=PLidukPqHzIMBVDiofRHHLUQZJsAhIwXez">
              <figure class="image is-2by1 work-item"
                style="background-image: url('https://www.cybxtechnolabs.com/wp-content/uploads/2019/05/1783188_6b1d_2.jpg');"></figure>
            </a>
          </div>
          <div class="column is-3">
            <a href="#">
              <figure class="image is-2by1 work-item"
                style="background-image: url('https://miro.medium.com/max/724/1*aDcnXab1QC_5KF8JUxDEYA.png');"></figure>
            </a>
          </div>
          <div class="column is-3">
            <a href="#">
              <figure class="image is-2by1 work-item"
                style="background-image: url('https://lh4.googleusercontent.com/proxy/UTU9W_RM07_3AF6vQwvqrz79SyQZU5CgIkeCHxGHi2Bt9Dqa7nxsEt2l5cJuxFCifLdZj_ZpYpVYKPaR5-Dq0K3bss6Z96rykjTVZ0kFse_e1yhN');"></figure>
            </a>
          </div>
          <div class="column is-3">
            <a href="#">
              <figure class="image is-2by1 work-item"
                style="background-image: url('https://miro.medium.com/max/365/1*Jr3NFSKTfQWRUyjblBSKeg.png');">
              </figure>
            </a>
          </div>
          <div class="column is-3">
            <a href="#">
              <figure class="image is-2by1 work-item"
                style="background-image: url('https://picsum.photos/320/180?image=40');"></figure>
            </a>
          </div>
          <div class="column is-3">
            <a href="#">
              <figure class="image is-2by1 work-item"
                style="background-image: url('https://picsum.photos/320/180?image=50');"></figure>
            </a>
          </div>
          <div class="column is-3">
            <a href="#">
              <figure class="image is-2by1 work-item"
                style="background-image: url('https://picsum.photos/320/180?image=60');"></figure>
            </a>
          </div>
          <div class="column is-3">
            <a href="#">
              <figure class="image is-2by1 work-item"
                style="background-image: url('https://picsum.photos/320/180?image=70');"></figure>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- End Work Content -->
  
    <!-- Begin Contact Content -->
    <div class="section-light contact" id="contact">
      <div class="container">
        <div class="columns is-multiline" data-aos="fade-in-up" data-aos-easing="linear">
          <div class="column is-12 about-me">
            <h1 class="title has-text-centered section-title">
              Get in touch
            </h1>
          </div>
          <div class="column is-8 is-offset-2">
  
            <form action="https://formspree.io/email@example.com" method="POST">
              <div class="field">
                <label class="label">Name</label>
                <div class="control has-icons-left">
                  <input class="input" type="text" placeholder="Ex. Jane Smith" name="Name" [(ngModel)]="dName" />
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left">
                  <input class="input" type="email" placeholder="Ex. hello@arctheme.com" name="Email" [(ngModel)]="dEmail"/>
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">Message</label>
                <div class="control">
                  <textarea class="textarea" placeholder="Textarea" name="Message" [(ngModel)]="dBody"></textarea>
                </div>
              </div>
              <div class="field">
                <div class="control ">
                  <button class="button submit-button" (click)="submit()">
                    Submit&nbsp;&nbsp;
                    <i class="fas fa-paper-plane"></i>
                  </button>
                </div>
              </div>
            </form>
  
          </div>
        </div>
      </div>
    </div>
    <!-- End Contact Content -->
  
  </div>
  
  <!-- End Main Content -->
  
  
  
  
  <!---------------------------------------------------------------------------------------->
  
